.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

div.product-canvas {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: white;
}

div.popOpen {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5vh;
}

div.mapOpen {
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 22vh;
}

.casilla {
  position: relative;
  overflow: hidden;
  width: 8%;
}

.casilla img:first-child {
  display:flex;
  width: 100%;
}

.casilla img:last-child {
  display: none;
}

.casilla:hover img:last-child {
  display:flex;
  width: 100%;
}

.casilla:hover img:first-child {
  display: none;
  
}

.flechaDer {
  z-index: 1;
  color: rgb(234, 248, 241);
  margin-top: 40vh;
  font-size: 100px;
  border: solid 5px rgb(102, 121, 111);
  border-radius: 100%;
  margin-left: -190px;
}

.flechaIzk {
  color: rgb(234, 248, 241);
  z-index: 1;
  margin-top: 40vh;
  font-size: 100px;
  border: solid 5px rgb(102, 121, 111);
  border-radius: 100%;
  margin-right: -200px;
  margin-left: 90px;
}

.flechaDer:hover {
  cursor: pointer;
  border: solid 5px rgb(102, 121, 111);
  border-radius: 100%;
  color: rgb(136, 172, 153);
  z-index: 1;
  margin-top: 40vh;
  font-size: 100px;
  margin-left: -190px;
}


.flechaIzk:hover {
  border: solid 5px rgb(102, 121, 111);
  border-radius: 100%;
  cursor: pointer;
  color: rgb(136, 172, 153);
  z-index: 1;
  margin-top: 40vh;
  font-size:100px;
  margin-right: -200px;
    margin-left: 90px;

}

div.infoCard {
  position: absolute;
  display: flex;
  background-color: rgb(234, 248, 241);
  border: solid 5px rgb(102, 121, 111);
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}

.tituloCard{
  color: rgb(102, 121, 111);
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.imgCard {
  width: 30%;
  border-radius: 10px;
  margin: 5px;
}

.closeCard {
  border: none;
  border-radius: 100%;
  border: solid 5px white;
  background-color: rgb(102, 121, 111);
  color: white;
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

.closeCard:hover {
  border-radius: 100%;
  border: solid 5px rgb(102, 121, 111);
  background-color: rgb(136, 172, 153);
  color: rgb(102, 121, 111);
  font-size: 40px;
  padding: 10px 20px 10px 20px;
  margin: 5px;
}

.closed {
  display: none;
}

.objetoMuseo:hover {
  cursor: pointer;
}